@tailwind base;
@tailwind components;
@tailwind utilities;




.link-active {

    @apply decoration-4 underline underline-offset-4 md:underline-offset-[28px] decoration-black text-black transition-all delay-200
}


.btn-inverted {

    @apply p-2 bg-white text-black font-bold focus:ring-2 focus:ring-gray-300 border-2 focus:border-gray-300
}

.btn {

    @apply p-2 bg-black text-white font-bold focus:ring-4 focus:ring-gray-300
}



.pop-up{


    @apply hover:-translate-y-2  transition-all duration-500 ease-in-out 
}

img {  
     user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

