@tailwind base;
@tailwind components;
@tailwind utilities;




.link-active {

    @apply decoration-4 underline underline-offset-4 md:underline-offset-[28px] decoration-black text-black transition-all delay-200
}


.btn-inverted {

    @apply p-2 bg-white text-black font-bold focus:ring-2 focus:ring-gray-300 border-2 focus:border-gray-300
    flex justify-center items-center gap-2
}

.btn {

    @apply p-2 bg-black text-white font-bold focus:ring-4 focus:ring-gray-300 
    flex justify-center items-center gap-2
}

.card-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pop-up{


    @apply hover:-translate-y-2  transition-all duration-500 ease-in-out 
}

img {  
     user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

 .input-box{
    @apply  bg-gray-50 
    border
   /* border-gray-300  */
   text-gray-900 text-sm 
   focus:ring-black  
   focus:ring-1
   focus:border-black
   block 
   w-full p-2.5 
   outline-none
 }

 .input-wrapper{

    @apply  block mb-2  text-sm font-medium 
    text-gray-900 dark:text-white
 }

