@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the number buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
body{
  @apply bg-dark-background text-dark-text
}


.link-active {

    @apply decoration-4 underline underline-offset-4 md:underline-offset-[28px] decoration-black text-black transition-all delay-200
}


.btn-inverted {

    @apply p-2 bg-dark-button text-white font-bold  focus:ring-2 focus:ring-dark-border border border-dark-border 
    flex justify-center items-center gap-2
}

.btn {

    @apply p-2 bg-dark-button  text-white font-bold focus:ring-2 focus:ring-dark-border border border-dark-border 
    flex justify-center items-center gap-2
}

.card-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pop-up{


    @apply hover:-translate-y-2  transition-all duration-500 ease-in-out 
}

img {  
     user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

 .input-box{
    @apply  bg-dark-light
    text-white
    border
    border-dark-border
    block 
    w-full p-2.5 
   outline-none
   placeholder:text-gray-600
 }

 .input-wrapper{

    @apply  block mb-2  text-sm font-medium text-gray-300 
  
 }

 .shad{

    @apply shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]
 }


 .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
  .hr-text:before {
    content: "";
    background: linear-gradient(to right, transparent, #767e8b, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    line-height: 1.5em;
    position:relative;
     @apply bg-dark-background
  
  }


